.asideWrapper {
  display: flex;
  flex-direction: row;

  .controller {
    position: fixed;
    left: 100vw;
    top: 25px;
    width: 2.2em;
    height: 2.2em;
    background-color: #9012fe;

    cursor: pointer;

    transition: all 0.5s ease;

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .hideController {
    left: 0;
  }

}

.sider {
  position: absolute;
  left: 0;
  transition: all 0.5s ease;
  width: 100vw;

  @media only screen and (min-width: 640px) {
  }

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1024px) {
    width: 350px;
    position: initial;
  }

  @media only screen and (min-width: 1440px) {
  }

  .siderContent {
    width: 100vw;
  }


  .conversation {
    cursor: pointer;

    &:hover {
      background-color: #FFFFFF50;
    }
  }

}

.hide {
  left: -100vw;
}
